.table {
  width: 100%;
  border-collapse: collapse;
}
.tableHeaderLabel,
.tableData {
  height: 4.5rem;
  font-size: 1.7rem;
  color: #6c6c6c;
  text-align: start;
}
.tableHeaderLabel {
  font-weight: 800;
}
.tableData {
  font-weight: 400;
  white-space: pre-wrap;
}

.condition {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
}

th {
  border-bottom: 0.1rem solid #6c6c6c;
}
