.tableContainer {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  color: #6c6c6c;
  padding-right: 1rem;
}
.tableContainer::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  background-color: #e4e4e4;
  border-radius: 10px;
}
.tableContainer::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #aaaaaa;
}

th {
  position: sticky;
  top: 0;
  height: 4.5rem;
  background-color: white;
  text-align: start;
}
th::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 0.1rem solid #6c6c6c;
}

.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.tableRow:hover {
  cursor: pointer;
}

.tableData {
  font-weight: 400;
  white-space: pre-wrap;
}

.smallScreen {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.condition {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.dataRowButton {
  border: none;
  background-color: transparent;
}
