.pageTemplate {
  width: 100%;
  height: calc(100vh - 14rem);
  padding: 7rem 3rem;
  font-size: 1.7rem;
  font-weight: 800;
}

.headerTemplate {
  height: 4.5rem;
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  color: #6c6c6c;
}

.bodyTemplate {
  height: calc(100% - 5rem);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
