.tableContainer {
  /* height: 100%; */
  overflow-y: scroll;
  color: #6c6c6c;
}
.table {
  width: calc(100vw - 500px);
  height: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.label {
  width: 230px;
  height: 4.5rem;
  font-weight: 800;
}

.preprocessedData {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.data,
.preprocessedData,
.formattedText {
  font-weight: 400;
}

.formattedText {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
