.pieChartContainer {
    width: calc(100% - 0rem);
    padding: 2rem 0rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 0 4px 10px #c4c4c4;
    /* background-color: pink; */
    background-color: #f7f7f7;
}
.chartTitle {
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
}
