.tableContainer {
    width: calc(100% - 20px);
    height: 100%;
    color: #6c6c6c;
    padding-right: 1rem;
}

th {
    position: sticky;
    /* top: 0; */
    height: 4.5rem;
    background-color: white;
    text-align: start;
    font-size: 1.5rem;
}
th::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 0.1rem solid #6c6c6c;
}
td {
    font-size: 1.5rem;
}

.table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
}

.tableRow:hover {
    cursor: pointer;
}

.tableData {
    font-weight: 400;
    white-space: pre-wrap;
    height: 4.5rem;
}

.smallScreen {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.condition {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.dataRowButton {
    border: none;
    background-color: transparent;
}

.pageButtonContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.pageButton {
    height: 3rem;
    padding: 0 1.5rem;
    border: none;
    background-color: transparent;
    color: #aaaaaa;
    font-size: 1.7rem;
}
.pageButton:first-child {
    margin-left: 0;
}
.currentPage {
    color: #141414;
}
