/* td {
} */
.data,
.label {
    height: 4.5rem;
}
.tableContainer {
    width: calc(100% - 20px);
    overflow-y: scroll;
    color: #6c6c6c;
}
.tableContainer::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    background-color: #e4e4e4;
    border-radius: 10px;
}
.tableContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #aaaaaa;
}

.table {
    width: 100%;
    height: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}
.label {
    width: 230px;
    font-weight: 800;
}
.data {
    font-weight: 400;
}

.chartContainer {
    width: 100%;
    height: 100%;
}
.chartTable {
    width: 100%;
    table-layout: auto;
    text-align: center;
}
.chartTableLabel {
    padding: 1rem 0;
    font-weight: 600;
}
.chartTableData {
    height: 3rem;
    font-weight: 400;
}
.graphs {
    width: 100%;
    display: flex;
    align-items: center;
}
.accLossGraphs {
    width: 100%;
}
.confusionGraph {
    object-fit: contain;
    width: 50%;
    position: relative;
    right: -50px;
}
