.iconWithLabel {
    width: 4rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    background-color: transparent;
    border: none;
}

.icon {
    height: 30px;
}

.label {
    line-height: 1.7rem;
    font-size: 18px;
}
