.iconWithLabel {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
  /* background-color: red; */
}

.icon {
  height: 42px;
}

.label {
  line-height: 1.7rem;
  font-size: 22px;
}
