.history {
  display: flex;
  flex-direction: column;
}

.historyPageHeader {
  width: calc(100vw - 580px);
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 30px;
  position: relative;
}
.recordTitle {
  font-size: 48px;
  color: #31b2b4;
  /* text-decoration: line-through; */
}

.historyPageBody {
  height: calc(100vh - 170px);
}

.topLeftBorder {
  height: 36px;
  position: relative;
  top: -32px;
  left: 32px;
  z-index: -1;
}
.bottomRightBorder {
  height: 36px;
  position: relative;
  top: 8px;
  right: 32px;
  z-index: -1;
}
