.pieChartContainer {
    width: 19rem;
    height: 13.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.value {
    position: absolute;
    font-size: 2rem;
    font-weight: 700;
    color: #6c6c6c;
}

.satisfiedValue {
    position: absolute;
    display: flex;
    font-size: 2rem;
    font-weight: 700;
}
