.sideBar {
  width: 350px;
  min-height: calc(100vh - 14rem);
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 7rem 0;
  background: linear-gradient(135deg, #4b4e51, #111111);
}
