/* td {
} */
.data,
.label {
    height: 4.5rem;
}
.tableContainer {
    color: #6c6c6c;
}
.tableContainer::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    background-color: #e4e4e4;
    border-radius: 10px;
}
.tableContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #aaaaaa;
}

.table {
    width: 100%;
    height: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}
.label {
    width: 230px;
    font-weight: 800;
}
.parameter {
    font-size: 1.4rem;
    font-weight: 400;
}
.data {
    font-weight: 400;
}

.addInput {
    width: 60%;
    height: 60%;
    padding: 0 0.5rem;
    border: 1.5px solid #aaaaaa;
    font-size: 1.5rem;
    color: #7a7a7a;
}
.addInput::-webkit-input-placeholder {
    color: #aaaaaa;
    font-size: 1.2rem;
}
.addInput:focus {
    outline: none;
    border: 1.7px solid #6c6c6c;
}

.modalQuestion {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.7rem;
}

.errorMessage {
    color: #db4437;
    font-size: 1.2rem;
    font-weight: 600;
}

.modalParameterLabel {
    width: 290px;
    font-size: 1.7rem;
    font-weight: 400;
    color: #6c6c6c;
}
.modalParameter {
    font-size: 1.7rem;
    font-weight: 400;
    color: #141414;
}

.alertMessage {
    margin-top: 1rem;
    color: #db4437;
    font-size: 1.7rem;
    font-weight: 800;
}

.buttons {
    box-sizing: content-box;
    width: 120px;
    height: 50px;
    border: 1.7px solid #6c6c6c;
    color: #6c6c6c;
    border-radius: 10px;
    font-size: 1.7rem;
    font-weight: 600;
    transition: all 0.1s ease-in-out;
    margin-top: 2rem;
}
