.progress {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 100%;
  position: absolute;
  top: 300px;
}

.progressLabel {
  width: 200px;
  height: 30px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}
